:root{
    --heading: 2.2rem;
    --subheading: 1.4rem;
    --font1A: arial,sans-serif;
    --fontweight: bold;
    --primarycolor1: #d9e6f5;
    --primarycolor2: #032853;
    --primarycolor3: #68adfc;
    --mediaparagraph: 1rem;
    --paragraphs:1rem;
    --error: #fa1818;
    --valid: #01da01;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url(../images/welcome_banner.jpg) 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0.5px);
    background-clip: border-box;
}

/* *********************************************************************************************************** */
                                     /* LANGUAGE TRANSLATE POPUP MESSAGE */
/* *********************************************************************************************************** */

.language-translate-popup {
    width: 500px;
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    box-shadow: 0 0 3px 2px var(--primarycolor2);
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.language-translate-popup .message-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 10px;
    font-family: var(--font1A);
}
.language-translate-popup .message-box i{
    text-align: center;
    font-size: 3rem;
    margin: 10px auto;
    color: blue;
}
.language-translate-popup .message-box p{
    font-size: 1.4rem;
    color: var(--primarycolor2);
    text-shadow: none;
    text-align: center;
    margin: 10px auto;
}
.language-translate-popup .message-box button{
    margin-top: 30px;
    padding: 10px 20px;
    color: var(--primarycolor1);
    background-color: rgb(1, 182, 1);
    font-size: 1.3rem;
    border: none;
}

@media screen and (max-width:600px) {
    .language-translate-popup{
        width: 80%;
    }
    .language-translate-popup .message-box{
        padding: 20px 10px;
    }
    .language-translate-popup .message-box p{
        font-size: 1rem;
        font-weight: 500;
        margin: 10px auto;
    }
    .language-translate-popup .message-box button{
        font-size: 1.1rem;
    }
}

/* *********************************************************************************************************** */
                                     /* LANGUAGE TRANSLATE POPUP MESSAGE */
/* *********************************************************************************************************** */


.form_box{
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    box-shadow: 1px 2px 2px 1px var(--primarycolor1),
    1px 0.5px 0.5px 2px var(--primarycolor2),
    -2px -2px 2px 1px var(--primarycolor1);
    padding: 30px 40px;
}

.form_box .input_box{
    position: relative;
    width: 350px;
    height: 40px;
    margin: 20px 0;
    font-size: 1.2rem;
}

.form_box .error-box{ 
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    font-family: var(--font1A);
    position: relative;
    top: -20px;
    margin: 0px 0px;
    color: rgb(250, 24, 24);
    /* display: none; */
    transition: .5s;
}
.form_box .lname-error-box{
    position: static;
    height: 8px;
}

.form_box .name_field{
    max-height: 50px;
    overflow: hidden;
    transition: 1s;
    margin: 8px auto;
}
.form_box .name_field.ln{
    margin-bottom: -10px;
}
.form_box .name_field .input_box{
    margin-top: 0;
}

.form_box form h2{
    margin: 0 0 25px 0;
    color: var(--primarycolor1);
    font-size: var(--heading);
    font-family: var(--font1A);
    text-transform: capitalize;
    text-shadow: 1px 1px 1px black;
    transition: .5s;
}

.form_box .input_box i{
    position: absolute;
    top: 10px;
    left: 8px;
}

.form_box .input_box .fa-user-circle{
    color: blue;
}
.form_box .input_box .fa-envelope{
    color: rgb(255, 0, 0);
}
.form_box .input_box .fa-lock{
    color: rgb(1, 218, 1);
}

.form_box .input_box input{
    width: 100%;
    height: 100%;
    padding-left: 35px;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    border: 2px solid var(--primarycolor1);
    letter-spacing: 1px;
}

.form_box .input_box input:focus{
    border: 2px solid gold;
    outline: none;
}
.form_box .input_box input[type="email"]:valid{
    border: 2px solid var(--valid);
    outline: none;
    color: var(--valid);
    text-shadow: 1px 1px 1px var(--primarycolor2);
}
.form_box .input_box input[type="email"]:invalid{
    outline: none;
    color: var(--error);
}

.form_box .input_box input::placeholder{
    color: var(--primarycolor1);
    text-transform: capitalize;
    text-shadow: 1px 1px 1px black;
}

.form_box .input_box #submit{
    color: var(--primarycolor1);
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: var(--fontweight);
    background-color: var(--valid);
    border-radius: 0%;
    cursor: pointer;
    padding: 0%;
}

.form_box .login_message,.signup_message{
    display: flex;
    font-size: 1rem;
    font-family: var(--font1A);
    text-shadow: 1px 1px 1px black;
}

.form_box .login_message p{
    color: var(--primarycolor1);
    margin-left: 10px;
    text-shadow: 1px 1px 1px black;
}
.form_box .signup_message p{
    color: var(--primarycolor1);
    margin-left: 10px;
    text-shadow: 1px 1px 1px black;
}

.form_box .privacy_message p{
    width: 350px;
    color: var(--primarycolor1);
    margin-bottom: 10px;
    font-family: var(--font1A);
}
.form_box .privacy_message p a{
    color: rgb(255, 0, 0);
}

.form_box .login_message,.signup_message b{
    color: var(--valid);
    cursor: pointer;
}

.form_box .signup_message{
    display: none;
}
.form_box .privacy_message{
    display: block;
    transition: 2s;
}

/* ******************************************************************************************************************* */

/* @ media */

@media screen and (max-width:600px) {


    .form_box{
        width: 90vw;
        padding: 20px 20px;
        top: 40%;
    }
        
    .form_box .input_box{
        position: relative;
        width: 95%;
        height: 35px;
        margin: 20px auto;
    }

    .form_box .name_field{
        margin: 0px auto;
    }
    .form_box .name_field.ln{
       margin-bottom: -20px;
    }

    .form_box form h2{
        margin: 0 0 10px 10px;
        font-size: var(--subheading);
    }

    .form_box .input_box i{
        top: 6px;
        left: 5px;
        font-size: 1.2rem;
    }

    .form_box .input_box input{
        padding-left: 30px;
        font-size: 1rem;
        border-radius: 5px;
    }

    .form_box .input_box #submit{
        font-size: 1.2rem;
    }

    .form_box .login_message,.signup_message{
        margin-left: 10px;
    }

    .form_box p{
        font-size: 0.9rem;
        margin-left: 10px;
    }

    .form_box .privacy_message p{
        width: 95%;
    }
    
}

/* min width 699 - max- width 920px */
@media (min-width:650px) and (max-width:920px) {


    .form_box{
        width: 70vw;
        padding: 20px 20px;
    }
        
    .form_box .input_box{
        position: relative;
        width: 85%;
        height: 40px;
        margin: 35px auto;
    }

    .form_box form h2{
        margin: 0 0 10px 45px;
        font-size: var(--heading);
    }

    .form_box .input_box i{
        top: 10px;
        left: 8px;
        font-size: 2rem;
    }

    .form_box .input_box input{
        padding-left: 50px;
        height: 55px;
        font-size: 1.7rem;
        border-radius: 5px;
    }

    .form_box .input_box #submit{
        font-size: 1.8rem;
    }

    .form_box p{
        font-size: 1.6rem;
        margin-left: 35px;
    }
    
}

/* ************************************************* */
                /* laguage tranltor */
/* ************************************************* */
.my-customize-language{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80px;
}
.my-customize-language h4{
    font-size: 1.2rem;
    font-family: var(--font1A);
    font-weight: bold;
    color: var(--primarycolor1);
    text-transform: capitalize;
}
/* ************************************************* */
                /* laguage tranltor */
/* ************************************************* */